/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)
      Havelock Blue Color: hsl(231, 44%, 56%)
      White: hsl(0, 0%, 99%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

  --hue: 210; /* 210 */
  --first-color: hsl(var(--hue), 100%, 70%); /* hsl(var(--hue), 100%, 70%) */
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(228, 15%, 15%);
  --main-color: #00abf0;
  --bg-color: #081b29;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 24px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  min-height: 100vh;
  padding-block: 5rem 2rem;
}

.section:nth-child(even) {
  background: var(--container-color);
}

/* .section:nth-child(odd) {
  background: var(--body-color);
} */

.section__title,
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.subtitle {
  color: var(--first-color);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 20px; /* 1.25rem */
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, 0.3);
    width: 75%;
    height: 100%;
    padding: 72px 0 0 48px;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For safari */
    transition: right 0.4s;
  }
}
/*
*
Конструкция hsla(0, 0%, 10%, 0.3) представляет собой цвет в формате HSLA.

Давайте разберем каждую часть:

hsla: Это функция для определения цвета в формате HSLA. HSLA означает Hue (оттенок), Saturation (насыщенность), Lightness (яркость) и Alpha (прозрачность).
0: Значение оттенка (hue) в диапазоне от 0 до 360 градусов. В данном случае, 0 означает красный оттенок.
0%: Значение насыщенности (saturation) в диапазоне от 0% до 100%. Здесь 0% означает абсолютную насыщенность, что в данном случае означает отсутствие цвета.
10%: Значение яркости (lightness) в диапазоне от 0% до 100%. Здесь 10% обозначает достаточно темный цвет.
0.3: Значение альфа-канала (alpha), который определяет прозрачность цвета. Значение альфа может быть от 0 (полностью прозрачный) до 1 (полностью непрозрачный). Здесь 0.3 означает, что цвет частично прозрачен, пропуская 30% фона сквозь себя.
Таким образом, hsla(0, 0%, 10%, 0.3) определяет темно-красный цвет с низкой насыщенностью и низкой яркостью, который частично прозрачен (30% непрозрачности). Этот цвет может использоваться, например, как фоновый цвет элемента, чтобы добавить некоторую прозрачность и создать эффект наложения на фоновое изображение или цвет.

*
Код backdrop-filter: blur(24px); используется для применения размытия к заднему плану (backdrop) элемента.

Давайте разберем его:

backdrop-filter: Это CSS свойство, которое применяет эффект фильтрации к заднему плану элемента. Оно позволяет применять различные фильтры, такие как размытие, наложение цветов и другие, к заднему плану элемента, включая его фон и содержимое, расположенное позади элемента.
blur(24px): Это функция размытия. В данном случае, указан параметр 24px, что означает размытие заднего плана на 24 пикселя. Это создает эффект размытости, при котором содержимое заднего плана становится менее четким.
Таким образом, backdrop-filter: blur(24px); означает, что задний план элемента будет размыт на 24 пикселя, создавая эффект мягкого размытия содержимого, расположенного позади этого элемента. Это может быть полезно для создания эффектов стекла или акцентирования внимания на переднем плане элемента.
*/

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 16px;
  right: 24px;
}

/* Show menu */

.show-menu {
  right: 0;
}

/* Add blur to header */

.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */

.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/

.home__container {
  padding-top: 32px;
  row-gap: 40px;
}

.home__content {
  display: grid;
  row-gap: 32px;
}

.home__data {
  text-align: center;
}

.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.home__description {
  margin-block: 16px 24px;
}

.home__social {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.home__social-link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background: transparent;
  background: transparent;
  border: 2px solid var(--first-color);
  border-radius: 50%;
  padding: 8px;
  color: var(--first-color);
  font-size: 24px;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.5s;
}

.home__social-link:hover {
  color: var(--bg-color);
  transform: translateY(-5px);
}

.home__social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--first-color);
  z-index: -1;
  transition: 0.5s;
}

.home__social-link:hover::before {
  width: 100%;
}

.home__image {
  justify-self: center;

  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

.home__img {
  border-radius: 10px;
}

/*=============== BUTTON ===============*/

.button {
  display: inline-block;

  background: var(--first-color);
  color: var(--title-color); /* var(--bg-color) */

  padding: 16px 28px;
  font-weight: var(--font-medium);

  border-radius: 8px;
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, 0.25);
}

/*=============== ABOUT ===============*/

.about__container {
  row-gap: 40px;
}

.about__title {
  font-size: var(--h2-font-size);
}

.about__data {
  text-align: center;
}

.about__discription {
  margin-bottom: 32px;
}
/*=============== SKILLS ===============*/

.skills__container {
  padding-bottom: 32px;
  row-gap: 56px;
}

.skills__data {
  text-align: center;
}

.skills__description {
  margin-bottom: 32px;
}

.skills__content {
  display: flex;
  justify-content: space-around;
}

.about__link {
  color: var(--first-color);
}

.about__item:not(:last-child) {
  margin: 10px 0;
}
/*=============== SERVICES ===============*/

/*=============== PROJECTS ===============*/

.projects__container {
  row-gap: 32px;
  justify-content: center;
  padding-block: 16px;
}

.projects__card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.projects__img {
  width: 100%;
  height: 100%;
}

.projects__modal {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(var(--hue), 70%, 40%, 0.8) 120%
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* For safari */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom 0.4s;
}

.projects__subtitle,
.projects__button {
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects__subtitle {
  display: block;
  margin-bottom: 4px;
}

.projects__title {
  font-size: var(--h2-font-size);
  margin-bottom: 12px;
}

.projects__button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: var(--font-medium);
}

.projects__button i {
  font-size: 20px;
}

.projects__card:hover .projects__modal {
  bottom: 0;
}

/*=============== CONTACT ===============*/

.contact__container {
  padding-top: 16px;
}

.contact__form,
.contact__group {
  display: grid;
  row-gap: 16px;
}

.contact__form {
  position: relative;
}

.contact__input {
  padding: 16px 20px;
  border-radius: 8px;
  background-color: var(--container-color);
  color: var(--title-color);
}

.contact__input::placeholder {
  color: var(--text-color);
}

.textarea {
  height: 176px;
  resize: none;
  margin-bottom: 32px;
}

.contact__button {
  justify-self: center;
  cursor: pointer;
}

.contact__message {
  position: absolute;
  left: 0;
  bottom: 72px;
  font-size: var(--small-font-size);
  color: var(--title-color);
}

/*=============== FOOTER ===============*/

.footer {
  background-color: var(--container-color);
  padding-block: 56px 32px;
}

.footer__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 4px;
}

.logo {
  text-decoration: none;
  color: var(--title-color);
}

.footer__container {
  row-gap: 32px;
  text-align: center;
}

/* .footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */

.contact__address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.address__link {
  color: var(--text-color);
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 8%, 35%);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 45%);
}

/*=============== SCROLL UP ===============*/

.scrollup {
  position: fixed;
  right: 16px;
  bottom: -50%;
  background-color: var(--body-color);
  padding: 6px;
  display: inline-flex;
  border-radius: 4px;
  color: var(--first-color);
  font-size: 20px;
  box-shadow: 0 4px 12px hsla(228, 15%, 8%, 0.4);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-4px);
}

/* Show Scroll Up */

.show-scroll {
  bottom: 48px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 320px) {
  .container {
    margin-inline: 16px;
  }
}

/* For medium devices */

@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .skills__container,
  .projects__container,
  .contact__container {
    grid-template-columns: 360px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu {
    width: 55%;
  }

  .home__container,
  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__data,
  .about__data,
  .skills__data,
  :is(.about__data, .skills__data) :is(.section__subtitle, .section__title) {
    text-align: initial;
  }

  .home__social {
    justify-content: initial;
  }

  .about__data {
    order: 1;
  }

  .projects__container {
    grid-template-columns: repeat(2, 352px);
  }

  .contact__container {
    grid-template-columns: 360px;
    justify-content: center;
  }
}

/* For large devices */

@media screen and (min-width: 1023px) {
  .section {
    padding-block: 112px 32px;
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .nav {
    height: calc(var(--header-height) + 24px);
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 48px;
  }

  .nav__menu {
    width: initial;
  }

  .blur-header::after {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); /* For safari */
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 455px 550px;
    column-gap: 112px;
    padding-block: 32px 48px;
  }

  .home__content {
    row-gap: 72px;
  }

  .home__description {
    margin-block: 24px 40px;
  }

  .home__social {
    column-gap: 24px;
  }

  .about__container {
    grid-template-columns: 550px 520px;
    column-gap: 160px;
    padding-bottom: 16px;
  }

  .about__discription {
    margin-bottom: 48px;
  }

  .skills__container {
    grid-template-columns: 400px 550px;
    column-gap: 160px;
  }

  .skills__description {
    padding-bottom: 48px;
  }

  .skills__content {
    column-gap: 128px;
  }

  .about__item {
    font-size: var(--h3-font-size);
  }

  .projects__container {
    grid-template-columns: repeat(4, 260px);
  }

  .projects__button {
    font-size: var(--normal-font-size);
  }

  .contact__container {
    grid-template-columns: 500px;
  }

  .contact__form {
    row-gap: 24px;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .footer__title {
    font-size: var(--bigger-font-size);
  }

  .footer__social {
    column-gap: 24px;
  }

  .footer__copy {
    margin: 0;
    justify-self: end;
  }

  .scrollup {
    right: 90px;
  }

  .show-scroll {
    bottom: 20px;
  }
}
